<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectoDragDrop.Properties.Settings.TasquesConnectionString"
            connectionString="Data Source=PC-MIQUEL;Initial Catalog=Tasques;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="ProjectoDragDrop.Properties.Settings.kanbanConnectionString"
            connectionString="Data Source=PC-MIQUEL\MIQUELSQLSERVER;Initial Catalog=kanban;Persist Security Info=True;User ID=sa;Password=M1qu3lB3c4r10"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>